/* Custom Styles for CheckMate */

/* Import Google Fonts for the Checkmate Theme */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto+Slab:wght@400;700&display=swap");

/* CheckMate Colour Scheme Variables */
:root {
  /* Core Neutrals */
  --color-wild-sand: #f6f6f6; /* Wild Sand */
  --color-mercury: #e8e8e8; /* Mercury */
  --color-silver: #bdbdbd; /* Silver */
  --color-boulder: #757575; /* Boulder */
  --color-limed-spruce: #3645f; /* Limed Spruce */
  /* Strategic Accents */
  --color-mirage: #121a22; /* Mirage */
  --color-primary-action-blue: #4682B4; /* Steel Blue */
  --color-success-green: #2e8b57; /* Sea Green */
  --color-warning-yellow: #ffd700; /* Gold */
  --color-danger-red: #B22222; /*Firebrick */
}
