{% extends "master.html" %}

{% block content %}
<div class="row mb-4">
    <div class="col-8">
        <h2>Your Projects</h2>
    </div>
    <div class="col-4 text-right">
        <a href="{{ url_for('add_project') }}" class="btn btn-success">Add New Project</a>
    </div>
</div>

{% if projects %}
    <div class="row">
    {% for project in projects %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <a href="{{ url_for('project_details', project_id=project.id) }}" class="card-link">View Tasks</a>
                    <a href="#" class="card-link text-danger">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
        You don't have any projects yet. Start by creating one!
    </div>
{% endif %}

{% endblock %}