{% extends "master.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card profile-card">
      <div class="card-body text-center">
        <img
          src="https://placehold.co/150x150/b0b0b0/ffffff?text={{ user.username[0]|upper }}"
          alt="Profile Picture"
          class="mb-3"
        />
        <h2 class="card-title">{{ user.username }}</h2>
        <h5 class="text-muted">{{ user.email }}</h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}
